@import "bootstrap";

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    row-gap: 150px;
}

.img-card {
    width: 100px !important;
    height: 100px !important;
    align-self: center;
}

.closed {
    transition: all 0.5s ease-in-out;
    transform: translateY(-150px);
    opacity: 0 !important;
}

.inner {
    z-index: 1;
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.card {
    position: relative;
    z-index: 10 !important;
}

.form-container {
    position: relative;
    margin-bottom: 20px;
    z-index: 10;
}

#input {
    transition: all 0.5s;
    z-index: 10;
}

label {
    position: absolute;
    left: 5px;
    bottom: 5px;
    transition: all 0.5s;
    z-index: 1;
}

#input:focus + label, #input:not(:placeholder-shown) + label {
    bottom: 50px;
}

#input::placeholder {
    color: transparent;
}
